<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Cats
      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <div style="display: flex;justify-content: center;">
        <input type="button" value="Exercice 3"/>
        <input type="button" value="Exercice 4"/>
      </div>
    </header>
    <div>
      <br />
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
