<!DOCTYPE html>
<html>
<head>
    <title>Liste des Super Héros</title>
</head>
<body>
    <h1>Liste des Super Héros</h1>
    <table border="1">
        <tr>
            <th>Nom</th>
            <th>Alias</th>
            <th>Puissance</th>
            <th>Actif</th>
        </tr>
        {% for hero in heroes %}
        <tr>
            <td>{{ hero.nom }}</td>
            <td>{{ hero.alias }}</td>
            <td>{{ hero.puissance }}</td>
            <td>{{ hero.actif }}</td>
            
        </tr>
        {% empty %}
        <tr><td colspan="4">Aucun héros trouvé.</td></tr>
        {% endfor %}
    </table>

    {% load static %}
    <link rel="stylesheet" href="{% static 'heroes/style.css' %}">
    <a href="{% url 'ajouter_hero' %}"> + Ajouter un héros</a>

</body>
</html>

